.gallery__img {
  margin: 0 20px;
  transition: all 0.5s ease-in-out;
  width: 500px;
  object-fit: cover;
  object-position: center;
}

.gallery__img:hover {
  transform: scale(1.1);
}

.submit_img__btn {
  font-size: 18px;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  font-weight: 200;
  background-color: #ef4444;
  color: #ffffff;
  border-radius: 9999px;
  box-shadow: 0 25px 50px -12px rgba(239, 68, 68, 0.5);
  transition: all ease-in-out 0.5s;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

.submit_img__btn:hover {
  transform: scale(1.1) rotate(10deg);
}

.submit_img__btn::before {
  content: "Upload Image";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 200% 100%;
  transition: visibility 0s, opacity 0.3s ease;
  animation: skeleton-loading 2.5s infinite linear;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.submit_img__btn:hover::before {
  visibility: visible;
  opacity: 1;
}
